.dropbtn {
  background-color: #8e8e8e;
  color: white;
  padding: 16px;
  font-family: "Bebas Neue";
  font-size: 16px;
  border: none;
  font-size: 36pt;
  width: 220px;
  box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.2);
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  background-color: rgba(100,100,100,0.3);
  min-width: 160px;
  box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.2);
  font-size: 18pt;

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.wrapper{
  width: 300px;
  height: 200px;
  margin-top: 20%;
  align-items: center;
  font-family: "Bebas Neue";
}

body{
    background-image: url(https://i.imgur.com/ZM4we9a.png);
  }

.dropdown-content a:hover {background-color: rgba(200,200,200,0.3);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #f43065;}

a:active {
  color: #f4ea30;
}